<!-- Page Content -->
<div class="page-content">
    <!-- Page Header -->
    <div class="page-header d-flex flex-column flex-md-row align-items-md-center">
        <div class="page-header-left flex-fill">
            <div class="page-header-title d-flex">
                <div class="page-info mt-3 ml-0">
                    <h5 class="page-title">Edit Unit <%= @unit.unit_number %></h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Form  -->
    <%= form_for(@unit, url: edit_unit_path, method: :patch) do |f| %>
        <!-- Section Header-->
        <div class="section-header d-md-flex align-items-center">
            <div class="section-header-left flex-fill">
                <a href="<%= admin_units_path %>" class="btn btn-success">
                    Back to Unit List
                </a>
            </div>
            <div class="section-header-right ml-auto">
                <button type="submit" class="btn btn-primary text-uppercase" id="submit">Update</button>
            </div>
        </div>
        <!-- / Section Header-->
        <!-- Section-->
        <div class="card">
            <div class="card-header">
                <h5 class="card-title ml-0">Unit Details</h5>
            </div>
            <div class="card-body">
                <!-- Form Fields -->
                <div class="form-row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Unit Number</label>
                            <%= f.number_field :unit_number, required: true, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Unit Type</label>
                            <%= f.text_field :unit_type, required: true, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Unit Address</label>
                            <%= f.text_area :unit_address, required: true, rows: 3, class: 'form-control', style: 'resize: none;' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Storey</label>
                            <%= f.text_field :storey, required: true, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Tenure</label>
                            <%= f.text_field :tenure, required: true, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Floor Size</label>
                            <%= f.text_field :floor_size, required: true, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Land Size</label>
                            <%= f.text_field :land_size, required: true, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Washrooms</label>
                            <%= f.number_field :washroom, required: true, min: 0, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Bedrooms</label>
                            <%= f.number_field :bedroom, required: true, min: 0, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Rental Amount (in Cents)</label>
                            <%= f.number_field :rental_amount, required: true, min: 0, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Tenant Name</label>
                            <%= f.text_field :tenant_name, required: true, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Tenant Phone Number</label>
                            <%= f.text_field :tenant_phone_number, required: true, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Tenant Email</label>
                            <%= f.email_field :tenant_email, required: true, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Account Username</label>
                            <%= f.text_field :username, required: true, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>New Account Password</label>
                            <%= f.password_field :password_digest, required: false, class: 'form-control' %>
                        </div>
                    </div>
                </div>
                <!-- / Form Fields -->
            </div>
        </div>
        <!-- / Section -->
    <% end %>
</div>
