<nav class="navbar navbar-expand-xl navbar-dark navbar-custom h3-homepage">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="d-none d-xl-block w-100">
    <div class="d-flex justify-content-end">
      <div class="row nav-link-container text-left mr-1">
        <div class="col-3">
          <%= link_to "My Unit", unit_dashboard_path, class: "nav-link link-hover-color" %>
        </div>
        <div class="col-3">
          <%= link_to "Maintainance", unit_maintainance_path, class: "nav-link link-hover-color" %>
        </div>
        <div class="col-3">
          <%= link_to "Payment", unit_payment_path, class: "nav-link link-hover-color" %>
        </div>
        <div class="col-3 nav-btn-login">
          <%= link_to "Login", "#", class: "btn btn-success ml-4 px-5 h3-homepage", id: "button-login" %>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to "My Unit", unit_dashboard_path, class: "nav-link link-hover-color" %>
      </li>
      <li class="nav-item active links">
        <%= link_to "Maintainance", unit_maintainance_path, class: "nav-link link-hover-color" %>
      </li>
      <li class="nav-item active"> 
        <%= link_to "Payment", unit_payment_path, class: "nav-link link-hover-color" %>
      </li>
      <li class="nav-item nav-btn-login">
        <%= link_to "Login", "#", class: "btn btn-success ml-4 px-5 h3-homepage", id: "button-login" %>
      </li>
    </ul>
  </div>
</nav>